body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#overlay {
    padding-top: 80px;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.popup {
    border-radius: 10px;
    max-width: 80%;
    max-height: 70%;
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

  }

.popup .popuptext {
    visibility: hidden;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 8px 0;
    margin:auto;
    z-index: 1;
}

.popup img{
    border-radius: 50%;
}
  
.prof-all {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.prof-general {

}

.prof-info {
    text-align: left;
}