.dark-mode {
    background-color: #333333;
    color: white;
}

.dark-mode .hyperlink-bar {
    background-color: #333333;
    color: white;
}

.dark-mode .page-title {
    background-color: #333333;
    color: white;
}

.dark-mode .tablinks {
    background-color: #333333;
    color: white;
}

.dark-mode .tab {
    background-color: #333333;
    color: white;
}

.dark-mode .footer {
    background-color:rgb(102, 102, 102)
}

html {
    scroll-behavior: smooth;
}

.navbar {
    font-size: 16px;
    font-family: Calibri;
    color: white;
    margin: 0;
    padding-left: 15px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    background: #d80434;
    border-bottom: 5px solid rgb(113, 137, 181);
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 15px;
    font-size: 18px;
    background-color: #c40431;
}

.hyperlink-bar {
    background-color: #f2f2f2;
    border-bottom: 1.5px solid rgb(231, 231, 231);
    font-size: 16px;
    font-family: Calibri;
    color: white;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    padding-left: 20px;
}

.hyperlink-bar a {
    color: rgb(102, 102, 102);
    font-size: 20px;
}

.page-title {
    background-color: #f2f2f2;
    border-top: 1.5px solid rgb(255, 255, 255);
    border-bottom: 1.5px solid rgb(231, 231, 231);
    font-size: 16px;
    font-family: Calibri;
    color: rgb(62, 62, 62);
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    padding-left: 20px;
}

.select-term {
    margin: 10px;
    padding: 10px;
    border: 8px solid rgb(172, 181, 196);
    border-radius: 4px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 350px;
    overflow: hidden;
}

#term-selection {
    width: 275px;
    height: 35px;
    padding: 5px;
}

#term-continue {
    width: 100px;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Calibri;
}


/* register-for-classes.html ---------- */
.enter-search-criteria {
    margin: 10px;
    padding: 20px;
    border: 8px solid rgb(172, 181, 196);
    border-radius: 4px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    line-height: 0px;
}

#enter-search-title-i {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}