html {
    scroll-behavior: smooth;
}

.navbar {
    font-size: 16px;
    font-family: Calibri;
    color: white;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    background: #d80434;
    border-bottom: 5px solid rgb(113, 137, 181);
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}